a {
    text-decoration: none;
    color: black;
}
.nav-menu {
  margin-top: 20px;
}

.head-line {
    margin-top: 1em; 
    display: flex;
    justify-content: center;
}
.head-line svg {
    width: 430px;
}
.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #000;
}
.menus button {
    border: none;
    background: none;
    margin: 5px;
}
.menus button:hover {
    background-color: beige;
}
.news-img-size {
    max-width: 100%;
    max-height: 250px;
}
.news {
    border-bottom: 2px solid black;
    margin-top: 15px;
    padding-bottom: 10px;
}

/* menu search*/

#input-area, #menu-ham-bar{
  display: none;
}

#menu-ham-bar, #search-icon{
  padding: 1em;
  /* 커서를 손모양(pointer)로 설정하기 */
  cursor: pointer;
}

#input-area input {
  height: 40px;
  width: 230px;
 
}


/* side menu */

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  }
  
  @media (max-width: 992px) {
    #menu-ham-bar{
      display: inline;
      padding-right: 0.5em;
    }
    #menu-list {
      display: none;
      
    }
    #side-menu-list {
      display: block;
      text-align: center;
    }
    .menu-disable-double {
      margin-top: 1em;
      border-bottom: 4px double #000;
    }
  }

  /* pagination */
  .pagination {
    display: flex;
    justify-content: center;
  }

  .pagination li {
    margin-top: 15px;
  }

  /* gray version : How to change Bootstrap paging color < https://sir.kr/g5_tip/18255 >*/
  .page-link {
    color: #000; 
    background-color: #fff;
    border: 1px solid #ccc; 
  }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #555;
    font-weight:bold;
    background-color: #f1f1f1;
    border-color: #ccc;
   }

   .page-link:focus, .page-link:hover {
    color: #000;
    background-color: #fafafa; 
    border-color: #ccc;
  }
   
  